*{
    box-sizing: border-box;
    margin: 0;
}
/* #region header */
#site_header{
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo, .login-button{
    width: 100px;
    height: 50px;
    background-color: goldenrod;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 3px;
}

.login-button{
    justify-content: flex-end;
}

.intestation{
    width: 500px;
    height: 50px;
    background-color: goldenrod;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #endregion header */


/* #region main-first-container */


.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-container-first{
    background-color: blue;
    display: flex;
    justify-content: center;
}

#jumbotron{
    width: 700px;
    height: 300px;
    background-color: pink;
    align-self: center;
    margin: 20px;
}

/* #endregion main-first-container*/

/* #region main-second-container */
#secondary-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: purple;
}

.secondary-section{
    height: 300px;
    background-color: turquoise;
    align-self: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left{
    background-color: red;
    width: 450px;
}

.right{
    width: 250px;
    background-color: blue;
}

/* #endregion main-second-container*/

/* #region main-third-container */
#third-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
}

.third-section{
    height: 300px;
    align-self: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* #endregion main-third-container*/

/* #region main-fourth-container*/
#fourth-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
}

.fourth-section{
    height: 300px;
    align-self: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* #endregion main-fourth-container*/

/* #region main-fifth-container*/
#fifth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
}

#main-block-fifth{
    width: 600px;
    height: 600px;
    background-color: darkgreen;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* #endregion main-fifth-container*/
 
/* #region footer*/
#site_footer{
    display: flex;
    height: 350px;
    background-color: greenyellow;
    justify-content: center;
 }

 .box{
    height: 300px;
    background-color: pink;
    width: 50px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .primary{
    width: 200px;
 }
 
/* #endregion footer*/

 #final-logo-button{
    display: flex;
    background-color: greenyellow;
    padding-bottom: 10px;
    padding-top: 5px;
    justify-content: center;
    border-top: 1px solid white;
    
 }

 .end{
    background-color: greenyellow;
    border: none;
 }
