*{
    box-sizing: border-box;
    margin: 0;
}

#site_header{
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

#logo, #login-button{
    width: 100px;
    height: 50px;
    background-color: goldenrod;
}

#intestation{
    width: 500px;
    height: 50px;
    background-color: goldenrod;
}

.flex-container{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    flex-direction: column;
}

.flex-container-first{
    background-color: blue;
    display: flex;
    justify-content: center;
}


#jumbotron{
    width: 700px;
    height: 300px;
    background-color: pink;
    align-self: center;
    margin: 20px;
}

#secondary-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.secondary-section{
    height: 300px;
    background-color: turquoise;
    align-self: center;
    flex-direction: row
}

.left{
    background-color: red;
    width: 450px;
}

.right{
    width: 250px;
}

#third-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.secondary-section{
    height: 300px;
    background-color: turquoise;
    align-self: center;
    flex-direction: row
}


footer{
    height: 300px;
    background-color: greenyellow;
}