*{
    box-sizing: border-box;
    margin: 0;
}

header{
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

div{
 
}

#logo, #login-button{
    width: 100px;
    height: 50px;
    background-color: goldenrod;
}

#intestation{
    width: 500px;
    height: 50px;
    background-color: goldenrod;
}

.flex-container{
    display: flex;
}

main{
    height: 600px;
    background-color: blueviolet;
}

footer{
    height: 300px;
    background-color: greenyellow;
}